.footer{

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Tüm genişliği kapla */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 100;
    
    
}